/*just bg and body style*/
html{
    height: 100vh;
    background-color:#CFDCE5;
}
body {
    background-color:#CFDCE5;
}

.container{
    background-color:#CFDCE5;
    padding-bottom:20px;
    margin-top:10px;
    border-radius:5px;
    }
    .center{
    text-align:center;  
    }
    #top{
    margin-top:20px;  
    }
    .btn-container{
    background:#516681;
    border-radius:10px;
    padding-bottom:20px;
    margin-bottom:20px;
    }
    .white{
    color:#78879C(210, 238, 245);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    .whitesmall{
     font-weight: 300;
     color:#A4A38F;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 16px;
    
    }
    .imgupload{
    color:#1E2832;
    padding-top:40px;
    font-size:7em;
    }
    #namefile{
    color:#A4A38F;
    }
    h4>strong{
    color:#ff3f3f
    }
    .btn-primary{
    border-color: #E1CB78 !important;
    color:#5F6659;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #E1CB78 !important;
    border-color: #E1CB78 !important;
    }
    
    /*these two are set to not display at start*/
    .imgupload.ok{
    display:none;
    color:#89EBCB;
    }
    .imgupload.stop{
    display:none;
    color:red;
    }
    
    
    /*this sets the actual file input to overlay our button*/ 
    #fileup{
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    width:200px;
    cursor: pointer;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    height: 50px;
    }
    
    /*switch between input and not active input*/
    #submitbtn{
      padding:5px 50px;
      display:none;
      color: #A6BBD7;
      background-color: #FDFBFC;
     
    }
    #fakebtn{
      padding:5px 40px;
    }
    
    
    
    #sign{
        color:#1E2832;
        position:fixed;
        right:10px;
        bottom:10px;
        text-shadow:0px 0px 0px #1E2832;
        transition:all.3s;
    }
    #sign:hover{
        color:#1E2832;
        text-shadow:0px 0px 5px #1E2832;
    }